.rzj.guide{
    height: 100px;
    width: 100px;
    background-color: #00c0ef;
    text-align: center;
    line-height:90px;
    font-size: 23px;
    color: #FFFFFF;
    margin-right: 10px;
    margin-left: 10px;
}
.float{
    float: left;
}
.labelSky{
    padding-left: 0px;
    padding-right: 0px;
}
